body {
    background-color: antiquewhite;
}

.container {
    border: 2px solid black;
    width: 500px;
    margin: 20px auto;
    padding: 2px;
}
.container img {
    width: 250px;
    float: left;
    margin: 5px;
}