* {
    padding: 0;
    margin: 0;
}

body {
    background-color: lightblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.80;
}

/* Latihan satu */
.container-satu {
    width: 800px;
    margin: 15px auto;
    background-color: aliceblue;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

.kolom-utama {
    flex: 2;
    order: 2;
}

.sidebar-satu{
    flex: 1;
    order: 1;
}
.sidebar-dua{
    flex: 1;
    order: 3;
}

