.container {
    width: 600px;
    height: 400px;
    border: 5px solid black;
    margin: 30px auto;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    /* flex-direction: column-reverse; */
    /* flex-wrap: wrap; */
    /* justify-content:space-between; */
    align-items:stretch;
}

/* .container::after {
    content: '';
    display: block;
    clear: both;
} */

.container div {
    width: 120px;
    height: 120px;
    background-color: aqua;
    float: left;
    text-align: center;
    line-height: 120px;
    margin: 2px;
    
}
