* {
    padding: 0;
    margin: 0;
}

body {
    background-color: lightblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.80;
}

/* Latihan satu */
.container-satu {
    width: 800px;
    margin: 15px auto;
    background-color: aliceblue;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

.kolom-utama {
    flex: 2;
    order: 2;
}

.sidebar-satu {
    flex: 1;
    order: 1;
}

.sidebar-dua {
    flex: 1;
    order: 3;
}

/* Latihan 2 */
.container-dua {
    max-width: 800px;
    height: 250px;
    margin: 50px auto;

}

.service {
    margin-bottom: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.service.oli {
    background-color: green;
}

.service.mesin {
    background-color: red;
}

.service.cvt {
    background-color: blue;
}

.container-tiga {
    max-width: 800px;
    margin: 20px auto;
    

}

.thumbnail {
    width: 25%;
}

.thumbnail img {
    width: 100%;
}

/* Latihan 4 */

.container-empat {
    max-width: 800px;
    margin: 50px auto;
    
    
}

.card {
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: aliceblue;
    overflow: hidden;
    margin:10px;
    flex: 1;
    
}

.card .header {
    height: 100px;
    background-color: aqua;
    margin-bottom: 10px;
}

.card .content {
    text-align: center;
    padding-bottom: 10px;
}

.card.besar {
    transform: scale(1.2);
}

.content button {
    margin-top: 15px;
    width: 50px;
    font-weight: bold;
    border: 2px solid black;
}

/* latihan 5 Centering */
.container-lima {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    margin: 20px auto;
    display: flex;
    
}

.kotak {
    width: 100px;
    height: 100px;
    background-color: gray;
    color: white;
    text-align: center;
    margin: auto;
    display: flex;
}

.kotak span {
    margin: auto;
}


/* responsive */
@media (min-width: 600px) {
    .container-dua {
        display: flex;
        justify-content: space-between;
    }

    .service {
        width: 30%;
    }

    .container-tiga {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }

    .container-empat {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}